# CONFIGURAÇÕES DE BANCO DE DADOS (POSTGRESQL)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=epi_guard
DB_USER=postgres
DB_PASS=sua_senha_aqui

# CONFIGURAÇÕES DA APLICAÇÃO
APP_DEBUG=true
APP_URL=http://localhost/epi-Guard-PostGre
